.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto 1fr auto;
}

nav {
  grid-column: 1 / 13;
  height: 69px;
  border-bottom: 1px solid var(--divider-color);
  background-color: blue;
}

main {
  grid-column: 1 / 13;
  height: 618px;
  background-color: purple;
}

footer {
  grid-column: 1 / 13;
  height: 216px;
  background-color: rgb(0, 119, 128);
}

@media (min-width: 768px) {
  nav {
    height: 160px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 460px 280px;
  }

  footer {
    height: 124px;
  }
}

@media (min-width: 1440px) {
  nav {
    height: 86px;
  }

  main {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }

  footer {
    height: 184px;
  }
}
